<div gdAreas="gauge outlet | test test | bars  bars| selector  selector| cards cards | graph_1 graph_1"
gdGap="10px"
gdRows="auto auto auto auto auto auto auto auto"
style="overflow: hidden;">
    <app-user-consumption-gauge gdArea="gauge" [value]="allowance" [max]="topAllowance" [stats]="logIn"></app-user-consumption-gauge>
    <app-user-consumption-cards gdArea="outlet" class="cards" [cardSelector]="allowance_card" [consumption]="consumption"></app-user-consumption-cards>
    <app-user-consumption-bars gdArea="bars" [timeFrame]="timeFrame"></app-user-consumption-bars>
    <app-user-consumption-time-selector gdArea="selector" (timeSelector)="timeFrame = $event"></app-user-consumption-time-selector>
    <app-user-consumption-cards gdArea="cards" [timeFrame]="timeFrame" [cardSelector]="consumption_card"></app-user-consumption-cards>
    <app-user-consumption-doughnut gdArea="graph_1" [isFull]="true" [timeFrame]="timeFrame"></app-user-consumption-doughnut>
</div>