language: node_js
node_js:
  - "12.18.2"
branches:
  only:
    - master
before_script:
  - npm install -g @angular/cli
script:
  - npm install
  - ng build --prod
deploy:
  skip_cleanup: true
  provider: firebase
  token:
    secure: "k8NMZ7XrgWQ7patJCt2yMJEQaSOjyRldBkprg1mtlOWMRhErfhW7Dd47oIG2gs5qcWDMVU8vy80KZv6SbgrYeYJC7M/2AwaR725oFRyfefuMvK80B0P2+Z8OSHFbBi1SrdphajQnbLWBoxTRpk8qoPF6O6vqd+n/V7goRawyTSyHhYmwd3dC8M1n68dTRs9mI3uVRW4Q74BJr6dTni/B2oFWJE1mr0cGJsgNlwchfAEaqjOZ4CZD19VuXrv0HRkKdeTIeTuKmgTrwnjZZqBlbj4oyz7BKq90Ac41uybV1TIVd7DESSBOuHfq+x5wOZoSrJQHIOvOu3DEUwtrAj019uOMFstf6tk9UkmGRuv25e8LD9oacVtAfgHV527VjyAvPUqBZIP+kRyADzDz4uk0lcVDikYUqRLi7rqHN9Pc8zxGxREDEqVfz/F2VTooFiQFu2P9AMmkEf1jXKapbLP6rTzXEiVq1gM+M/wEDBa2VgUPV4h4CvnU4P0NsGhUUNrzXDUpUTVKP8P0aOlqmZBfgWULzT6S94hb3wsuyxsTfga2p46vjLUKqoUokJoN6TIUZ5WKOV0ZHtmGD851g3k6xo1nCAKXwbQuLsFTSReAgXsmCijN55yCnMhm2IYDPoigoBuGh33W6i+p5+0gCsazGLkpk9t6LDHi3bnZa9WGEpI="