.card-container {
    width: 50vw;
    margin: 0 auto;
}

.card-item {
    width: calc(100% - 66px);
    display: flex;
    padding: 20px 10px;
    margin: 20px;
    border: 3px solid;
    border-radius: 10px;
}