<div class="event-list-container">
    <h3 class="events-title">Events</h3>
    <mat-card matRipple class="navigation-card" >
        <mat-card-header>
            <mat-card-title class="event-card-title">Fight against the power lich!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="event-content-container last-child">
                <div class="event-half">
                    <img mat-card-image src="/assets/enemy-example.png" alt="Illumination" class="event-img">
                </div>
                <div class="event-half">
                    <p>
                        The entire Universe is depending on you! Are you ready to take on the evil lich? 
                        Team up and fight against the hordes of monsters that Fusce lorem nunc, faucibus non pretium ac,
                        scelerisque et nunc. Vivamus lacus ipsum, dictum et semper a, elementum ut ipsum. 
                        Integer vitae sapien eget nisi molestie tempor. Curabitur consectetur, erat non consequat volutpat, 
                        lacus elit interdum massa, eget iaculis ex libero at ipsum.
                    </p>
                </div>
            </div>
          </mat-card-content>
    </mat-card>
</div>
