.character {
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
}

.character-name{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    margin: auto auto;
}

.character-name p{
    padding: 20px;
    text-align: center;
    font-size: 1.7em;
}

.character-avatar {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid;
    margin: auto auto;
}

.character-stats {
    font-size: 0.5em;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-direction: column;
    border-radius: 50%;
    border: 5px solid;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 45%;
    left: 60%;
}

.detail-button {
    font-size: 1.5em;
}

.character-stats p {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.character-stats img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.detail /deep/ .mat-icon {
    font-size: 3em;
    width: auto;
    height: auto;
}

.create /deep/ .mat-icon {
    padding: 20px 20px;
    font-size: 10em;
    width: auto;
    height: auto;
}

.create {
    font-size: 1em;
    margin: auto;
    text-align: center;
    cursor: pointer;
}

.button{
    padding: 20px 20px;
}