<ng-container *ngIf="!loading">
    <ejs-schedule
        cssClass='room-calendar' 
        [eventSettings]="events" 
        [selectedDate]="currentDate" 
        [currentView]="newViewMode" 
        [allowDragAndDrop]="allowDragAndDrop"
        [startHour]="startHour"
        [endHour]="endHour"
        [firstDayOfWeek]="firstDay"
        [readonly]=true
        [showWeekend]="showWeekend"
        (eventClick)="eventClicked($event)"
    >
    </ejs-schedule>
</ng-container>
<ng-container *ngIf="loading">
    <div style="height: 100%; padding: 20px; display: flex; justify-content: center;">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</ng-container>