<div gdAreas="illumination heating outlets"
gdGap="10px"
gdRows="auto"
gdColumns="calc(33.3% - 20px) calc(33.3% - 20px) calc(33.3% - 20px)"
gdAreas.lt-md="illumination | heating | outlets"
gdRows.lt-md="auto auto auto"
gdColumns.lt-md="100%"
class="navigation-cards">
    <a [routerLink]="['/user/consumption']" style="text-decoration: none">
        <mat-card matRipple class="navigation-card" >
            <mat-card-header>
                <mat-card-title>Consumption</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/colored-illumination-icon.png" alt="Illumination" class="last-child card-img">
        </mat-card>
    </a>
    <a [routerLink]="['/user/missions']" style="text-decoration: none">
        <mat-card matRipple class="navigation-card" >
            <mat-card-header>
                <mat-card-title>Missions</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/colored-missions-icon.png" alt="Missions" class="last-child card-img">
        </mat-card>
    </a>
    <a [routerLink]="['/user/stats']" style="text-decoration: none">
        <mat-card matRipple class="navigation-card" >
            <mat-card-header>
                <mat-card-title>Stats</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/colored-stats-icon.png" alt="Stats" class="last-child card-img">
        </mat-card>
    </a>
</div>