<div class="navigation-cards">
    <mat-card matRipple class="navigation-card" >
        <mat-card-header>
            <mat-card-title>Illumination</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/illumination-icon.png" alt="Illumination" class="last-child card-img">
    </mat-card>
    <mat-card matRipple class="navigation-card">
        <mat-card-header>
            <mat-card-title>Heating</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/illumination-icon.png" alt="Illumination" class="last-child card-img">
    </mat-card>
    <mat-card matRipple class="navigation-card">
        <mat-card-header>
            <mat-card-title>Outlets</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/illumination-icon.png" alt="Illumination" class="last-child card-img">
    </mat-card>
</div>