<div gdAreas="feed feed |temp temp | power  engage | power_month engage_mission | power_week engage_group | detail_1 engage_event | vide detail_2"
    gdGap="10px" 
    gdRows="auto auto auto auto auto auto"
    gdAreas.lt-md="feed | temp | power | power_month | power_week | detail_1 | engage | engage_mission | engage_group | engage_event | detail_2 | vide"
    gdRows.lt-md="auto auto auto auto auto auto auto auto auto auto auto auto" 
    class="admin-content">
    <app-admin-alert-feed gdArea="feed"></app-admin-alert-feed>
    <app-admin-temp gdArea="temp" [timeFrame]="timeFrame"></app-admin-temp>
    <h1 class="title" gdArea="power">Power saving</h1>
    <h1 class="title" gdArea="engage">User engagement</h1>
    <app-admin-progress-bar gdArea="power_month" [bar_select]="power_month"></app-admin-progress-bar>
    <app-admin-progress-bar gdArea="power_week" [bar_select]="power_week"></app-admin-progress-bar>
    <div gdArea="vide"></div>
    <a class="button" gdArea ="detail_1" [routerLink]="['/admin/power']">
        <mat-button-toggle class="detail-button">Detail</mat-button-toggle>
    </a>
    <app-admin-progress-bar gdArea="engage_mission" [bar_select]="engage_mission"></app-admin-progress-bar>
    <app-admin-progress-bar gdArea="engage_group" [bar_select]="engage_group"></app-admin-progress-bar>
    <app-admin-progress-bar gdArea="engage_event" [bar_select]="engage_event"></app-admin-progress-bar>
    <a class="button" gdArea ="detail_2" [routerLink]="['/admin/engage']">
        <mat-button-toggle class="detail-button">Detail</mat-button-toggle>
    </a>
</div>