
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$power-saving-primary: mat-palette($mat-teal);
$power-saving-accent: mat-palette($mat-light-green);

// The warn palette is optional (defaults to red).
$power-saving-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$power-saving-light-theme: mat-light-theme((
  color: (
    primary: $power-saving-primary,
    accent: $power-saving-accent,
    warn: $power-saving-warn,
  )
));

$power-saving-dark-theme: mat-dark-theme((
  color: (
    primary: $power-saving-primary,
    accent: $power-saving-accent,
    warn: $power-saving-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

.mat-select-panel {
  background: #fff;
}

.mat-select-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}


.theme-dark {
  @include angular-material-theme($power-saving-dark-theme);
  text {
    fill: white;
  }

  .mat-option-text {
    color: white;
  }

  .navigation-card {
    background: rgb(55, 102, 91);
  }

  .mission-general-title::before, .mission-general-title::after {
    background: rgb(55, 102, 91);
  } 

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
.theme-light {
  @include angular-material-theme($power-saving-light-theme);
  text {
    fill: black;
  }

  .mat-option-text {
    color: black;
  }

  .navigation-card {
    background: rgb(112, 204, 183);
  }

  .mission-general-title::before, .mission-general-title::after {
    background: rgb(112, 204, 183);
  } 

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

