/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Lato; }
.divider-container {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

